<!DOCTYPE html> 
<html> 
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="layout/styles/admin-page.css" rel="stylesheet" type="text/css" media="all">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<title> Admin Page </title>
<nav class="navbar navbar-light bg-dark justify-content-between" style="background-color: rgb(46, 52, 63)">
    <a class="navbar-brand mb-0 h1" style="color: rgb(255, 255, 255)">Book Well</a>
    <form class="form-inline">
        <a href="/logout" class="btn btn-primary pull-right" role="button">Logout</a>
    </form>
  </nav>
</head>
<body>
<h1>Book Well Admin System</h1>
    <div class="container">
        <div class="row">
          <div class="col-12">
              <table class="table table-image">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Book_Image</th>
                    <th scope="col">Book_Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                    <th ><a href="/create" class="btn btn-success btn-light" style="color: rgb(248, 248, 248); background-color: green;" role="button"><span class="bi bi-file-plus"></span></a></th>

                  </tr>
                  
                </thead>
                <!--Body Lsit of Book records-->
                <tbody>
                    <% for (var r of inventory) {%>
                  <tr>
                    <th scope="row"><%= r._id %></th>
                    <td class="w-25">
                            <img src="data:<%= r.photo.mimetype %>;base64, <%= r.photo.data %>" class="img-fluid img-thumbnail"><br>
                    </td>
                    <td><%= r.BookName %></td>
                    <td><%= r.Author%></td>
                    <td><%= r.Description%></td>
                    <td>
                        <a href="/edit?_id=<%= r._id %>" class="btn btn-primary" role="button"><i class="bi bi-pencil-square"></i></a>
                        <a href="/delete?_id=<%= r._id %>&owner=<%= r.owner %>" class="btn btn-danger" role="button"><span class="bi bi-trash"></span></a>
                      </td>
                  </tr>
                  <% } %>
                </tbody>
              </table>   
          </div>
        </div>
      </div>
</body>
</html>